<script>
	import { onMount, onDestroy } from "svelte";
	import { Engine, Render, Runner, Composite, Bodies } from "matter-js";

	let sandbox;
	let stopCb;

	onMount(() => {
		const engine = Engine.create();
		const renderer = Render.create({
			element: sandbox,
			engine,
			options: {
				width: sandbox.clientWidth,
				height: sandbox.clientHeight,
				showAngleIndicator: false,
				background: "#ffffff",
				wireframes: false,
			}
		});
		const runner = Runner.create();
		
		Composite.add(engine.world, [
			Bodies.rectangle(400, 0, 100, 50, { isStatic: false, render: {
				fillStyle: "#000000"
			}}),
			Bodies.rectangle(100, 20, 80, 50, { isStatic: false, render: {
				fillStyle: "#00ffaa"
			}}),
			Bodies.circle(60, 100, 20, { isStatic: true, render: {
				fillStyle: "#ffcfba",
				/*
				sprite: {
					texture: "https://4.bp.blogspot.com/-mAe6blnCb1E/Vd9SAb4vNsI/AAAAAAAAH6E/Nj7oLybWD2U/s1600/Small%2Bcoloured%2Bstones%2Btexture%2Bseamless.jpg",
					xScale: 0.25,
					yScale: 0.25,
				}
				*/
			}}),
		]);

		Render.lookAt(renderer, {
			min: { x: 0, y: 0 },
			max: { x: sandbox.clientWidth, y: sandbox.clientHeight },
		});

		stopCb = () => {
			Render.stop(renderer);
			Runner.stop(runner);
		};

		Render.run(renderer);
		Runner.run(runner, engine);
	});

	onDestroy(() => {
		stopCb();
	});
</script>

<div class="sandbox" bind:this={sandbox} />

<style>
	.sandbox {
		width: 800px;
		height: 600px;
	} 
</style>